<div class="card card-body bg-light">
    <a routerLink='/lugares'>lugares</a> / Contacto
</div>

<div class="container">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" class="form-control">
    <br>
    <label for="correo">Correo</label>
    <input type="email" name="email" id="email" class="form-control">
    <br>
    <label for="mensaje">Mensaje</label>
    <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
    <hr>
    <a class="btn btn-primary" href="">Enviar</a>
    <a class="btn btn-light" routerLink="/lugares">Cancelar</a>
</div>